<form action='/recipes' method='post'>
  <input type='text' id='name' name='name' placeholder="name" />
  <input type="text" id="ingredients" name="ingredients" placeholder="ingredients" />
  <input type="text" id="cook_time" name="cook_time" placeholder="cook_time" />
  <input type="submit" id="submit" />
</form>