require 'pry'
<form action="/recipes/<%=@recipe.id%>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p>Name: <input type="text" id="name" name ="name"></p>
  <p>Ingredients: <%=@recipe.ingredients%> <input type="text" id="ingredients" name="ingredients"></p>
  <p>Cook Time: <%=@recipe.cook_time%> <input type="text" id="cook_time" name="cook_time"></p>
  <button type="submit" name="submit" value="submit">Submit</button>
</form>