<h1>Put in a new recipe!</h1>

<form method="POST" action='/recipes'>
<h3>Recipe Name:</h3>
<input type="text" value="text" name="name">
<h3>Recipe Ingredients:</h3>
<input type="text" value="text" name="ingredients">
<h3>Recipe Cook Time:</h3>
<input type="text" value="text" name="cook_time">

<button type="submit" value="submit">Submit Recipe</submit>
</form>