<h3> Recipe Name: <%= @recipe.name %></h3>
<h3> Recipe Ingredients: <%= @recipe.ingredients %></h3>
<h3> Recipe Cook Time: <%= @recipe.cook_time %></h3>

<form method="POST" action="/recipes/<%= @recipe.id %>">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <button type="submit" value="delete">Delete this recipe</button>
</form>