<p><%=@recipe.name%></p>
<p><%=@recipe.cook_time%></p>
<p><%=@recipe.ingredients%></p>

<form action="/recipes/<%=@recipe.id%>" method='post'>
  <input type="hidden" id="hidden" name="_method" value="delete" />
  <input type="submit" id="delete" value="Delete Recipe" />
</form>